<ng-container>
    <!--toolbar-->
        <mat-toolbar color="primary" class="example-header">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>Moswear.id</span>
            <div class="uk-width-expand">
            </div>
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu=matMenu>
                <button mat-menu-item>
                    <mat-icon>exit_to_app</mat-icon>
                    Log Out
                </button>
            </mat-menu>
            
            
        </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="admin-container">
        <mat-sidenav 
        #sidenav mode="side" 
        [position]="'start'" 
        [opened]="false"
        opened class="sidenav-left"
        [fixedInViewport]="true" 
        [fixedTopGap]="64"
        [fixedBottomGap]="0">
    
            <mat-nav-list>
                <mat-list-item routerLink="/admin/dashboard">
                    <mat-icon matListIcon>dashboard</mat-icon>
                    <h3 matLine>Dashboard</h3>
                </mat-list-item> 
                <mat-list-item routerLink="/admin/product">
                    <mat-icon matListIcon>local_mall</mat-icon>
                    <h3 matLine>Products</h3>
                </mat-list-item>   
            </mat-nav-list>
    
    </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" 
    [position]="'end'"  
    class="example-sidenav"
    [fixedInViewport]="true" 
    [fixedTopGap]="64"
    [fixedBottomGap]="0">

    </mat-sidenav>
    <mat-sidenav-content style="padding: 20px; background-color: #fce4ec;">
    <!--halaman-halaman tampil disini-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
</ng-container>
    