<ng-container>
    <!--toolbar-->
        <mat-toolbar color="primary" class="example-header">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <span>ManageLy</span> 
            <div class="uk-width-expand">
            </div>
            <button mat-button [matMenuTriggerFor]="beforeMenu">
                <mat-icon matBadge="5" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()" matBadgeColor="accent">notifications</mat-icon>
            </button>
            <mat-menu #beforeMenu="matMenu" xPosition="before">
                <button style="font-size: 11px;" routerLink="/admin/message" mat-menu-item>Wah, belum ada yang menghubungimu..</button>
                <button style="font-size: 11px;" routerLink="/admin/review" mat-menu-item>Kamu memiliki 3 penilaian baru !</button>
                <button style="font-size: 11px;" routerLink="/admin/product" mat-menu-item>Stock Rowena Dress menipis, segera restock !!</button>
                <button style="font-size: 11px;" routerLink="/admin/transaction" mat-menu-item>Ada pesanan baru, segera kirim</button>
                <button style="font-size: 11px;" routerLink="/admin/home" mat-menu-item>Rekor baru, penghasilanmu meningkat drastis</button>
            </mat-menu>
           
            <button mat-button [matMenuTriggerFor]="menu">
                <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu=matMenu>
                <button mat-menu-item (click)="logout()">
                    <mat-icon>exit_to_app</mat-icon>Log Out
                </button>
            </mat-menu>    
        </mat-toolbar>
    <!--end toolbar-->
    
    <mat-sidenav-container class="admin-container">
        <mat-sidenav 
        #sidenav mode="side" 
        [position]="'start'" 
        [opened]="false"
        opened class="sidenav-left"
        [fixedInViewport]="true" 
        [fixedTopGap]="64"
        [fixedBottomGap]="0">
    

            <mat-nav-list> 
                <mat-list-item routerLink="/admin/home">
                    <mat-icon matListIcon>home</mat-icon>
                    <h3 matLine>Home</h3>
                </mat-list-item> 
                <mat-list-item routerLink="/admin/product">
                    <mat-icon matListIcon>local_grocery_store</mat-icon>
                    <h3 matLine>Produk</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/transaction">
                    <mat-icon matListIcon>receipt</mat-icon>
                    <h3 matLine>Transaksi</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/graph">
                    <mat-icon matListIcon>timeline</mat-icon>
                    <h3 matLine>Analisis</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/message">
                    <mat-icon matListIcon>forum</mat-icon>
                    <h3 matLine>Pesan</h3>
                </mat-list-item>
                <mat-list-item routerLink="/admin/review">
                    <mat-icon matListIcon>rate_review</mat-icon>
                    <h3 matLine>Ulasan</h3>
                </mat-list-item>
                  
            </mat-nav-list>
    
    </mat-sidenav>
    
    <mat-sidenav #sidenav mode="side" 
    [position]="'end'"  
    class="example-sidenav"
    [fixedInViewport]="true" 
    [fixedTopGap]="64"
    [fixedBottomGap]="0">

    </mat-sidenav>
    <mat-sidenav-content style="padding: 20px; background-color: #ECEFF1;">
    <!--halaman-halaman tampil disini-->
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    <!--end sidenav content-->
    </mat-sidenav-container>   
</ng-container>
    