.total {
    text-align: center;
    font-size: 1.2cm;
}
.card1 {
    background-color: #FCE4EC;
}
.card2 {
    background-color: #C8E6C9;
}
.card3 {
    background-color: #FFF9C4;
}
.card4 {
    background-color: #D1C4E9;
}