<!--<div>
    <app-widget-chart></app-widget-chart>
</div>
<br>-->
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Pengunjung" total="12k" percentage="56%"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Penjualan" total="1.1k" percentage="85%"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total User" total="15k" percentage="80%"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="New Users" total="100" percentage="34%"></app-widget-card>
    </mat-card>

</div>
<br>

