<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="total">
            <h1>Total Pendapatan</h1><br>
            <p>Rp. 7.500.000,-<p><br>
        </div>
    </mat-card-content>
</mat-card>
<br>
<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card class="card1" fxFlex="25">
        <app-widget-card label="Pengunjung" total="12k" percentage="56%"></app-widget-card>
    </mat-card>
    <mat-card class="card2" fxFlex="25">
        <app-widget-card label="Penjualan" total="10k" percentage="85%"></app-widget-card>
    </mat-card>
    <mat-card class="card3" fxFlex="25">
        <app-widget-card label="Total User" total="17k" percentage="80%"></app-widget-card>
    </mat-card>
    <mat-card class="card4" fxFlex="25">
        <app-widget-card label="New Users" total="11k" percentage="34%"></app-widget-card>
    </mat-card>

</div>
<br>

