<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Semua Ulasan">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Produk</th>
                        <th>Kategori</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
            </mat-tab>

            <mat-tab label="Bintang 5">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
            </mat-tab>
            <mat-tab label="Bintang 4">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
            </mat-tab>
            <mat-tab label="Bintang 3">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
            </mat-tab>
            <mat-tab label="Bintang 2">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
            </mat-tab>
            <mat-tab label="Bintang 1">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
            </mat-tab>
        </mat-tab-group>
          
    </mat-card-content>
</mat-card>
