<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Semua Ulasan">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th>Kategori</th>
                        <th align="right">Keterangan</th>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>astriwidi</td>
                            <td>12.05 <br> 25-7-2021</td>
                            <td>Sheera Dress <br> M <br>White</td>
                            <td>Sangat Baik</td>
                            <td>Pengiriman cepat ! <br>Dress ini sangat indah</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>habibah123</td>
                            <td>09.45 <br> 20-7-2021</td>
                            <td>Lyvia Dress <br> XL <br> Cream</td>
                            <td>Baik</td>
                            <td>Produk bagus</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>humaira_rizqy</td>
                            <td>13.45 <br> 23-7-2021</td>
                            <td>Rowena Dress <br> M <br> Navy</td>
                            <td>Sangat Baik</td>
                            <td>Produk berkualitas.<br> Pengiriman 2 hari,<br> Memuaskan !</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Sangat Baik">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th align="right">Keterangan</th>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>astriwidi</td>
                            <td>12.05 <br> 25-7-2021</td>
                            <td>Sheera Dress <br> M <br>White</td>
                            <td>Pengiriman cepat ! <br>Dress ini sangat indah</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>humaira_rizqy</td>
                            <td>13.45 <br> 23-7-2021</td>
                            <td>Rowena Dress <br> M <br> Navy</td>
                            <td>Produk berkualitas.<br> Pengiriman 2 hari,<br> Memuaskan !</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Baik">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th align="right">Keterangan</th>
                    </thead> 
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>habibah123</td>
                            <td>09.45 <br> 20-7-2021</td>
                            <td>Lyvia Dress <br> XL <br> Cream</td>
                            <td>Produk bagus</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Cukup Baik">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
                <p style="font-style: italic; text-align: center;">(( Belum Ada Data ))</p>
            </mat-tab>
            <mat-tab label="Buruk">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
                <p style="font-style: italic; text-align: center;">(( Belum Ada Data ))</p>
            </mat-tab>
            <mat-tab label="Sangat Buruk">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th>Keterangan</th>
                    </thead> 
                </table>
                <p style="font-style: italic; text-align: center;">(( Belum Ada Data ))</p>
            </mat-tab>
        </mat-tab-group>
          
    </mat-card-content>
</mat-card>
