<mat-card>
    <mat-card-header>
        <mat-card-title>{{title}}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-tab-group>
            <mat-tab label="Semua Transaksi">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>                
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Produk</th>
                        <th>Jasa Kirim</th>
                        <th>No Resi</th>
                        <th>Jumlah</th>
                        <th>Total Harga</th>
                        <th>Kategori</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>sabila01</td>
                            <td>22.09 <br> 19-07-2021</td>
                            <td>Rowena Dress <br> M <br> Navy</td>
                            <td>JNE</td>
                            <td>-</td>
                            <td>2</td>
                            <td>Rp. 500.000,-</td>
                            <td>Dibatalkan</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>astriwidi</td>
                            <td>08.05 <br> 20-7-2021</td>
                            <td>Sheera Dress <br> M <br>White</td>
                            <td>JNE</td>
                            <td>JP1203400</td>
                            <td>2</td>
                            <td>Rp. 500.000,-</td>
                            <td>Selesai</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>habibah123</td>
                            <td>09.45 <br> 20-7-2021</td>
                            <td>Lyvia Dress <br> XL <br> Cream</td>
                            <td>JNE</td>
                            <td>JP1201000</td>
                            <td>1</td>
                            <td>Rp. 250.000,-</td>
                            <td>Selesai</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>humaira_rizqy</td>
                            <td>13.45 <br> 23-7-2021</td>
                            <td>Rowena Dress <br> M <br> Navy</td>
                            <td>JNE</td>
                            <td>JP1204561</td>
                            <td>1</td>
                            <td>Rp. 250.000,-</td>
                            <td>Selesai</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>dwihanda</td>
                            <td>10.09 <br> 25-07.2021</td>
                            <td>Huffle Dress <br> L <br> Black</td>
                            <td>JNE</td>
                            <td> - </td>
                            <td>1</td>
                            <td>Rp. 230.000,-</td>
                            <td>Dibatalkan</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>sirius_pink</td>
                            <td>11.03 <br> 27-7-2021</td>
                            <td>Alya Dress <br> XL <br> Dusty Purple</td>
                            <td>JNE</td>
                            <td>JP1200001</td>
                            <td>1</td>
                            <td>Rp. 250.000,-</td>
                            <td>Dikemas</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>

            <mat-tab label="Pengiriman">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>                
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Alamat</th>
                        <th>Produk</th>
                        <th>Jasa Kirim</th>
                        <th>No Resi</th>
                        <th>Jumlah</th>
                        <th>Total Harga</th>
                        <th>Status</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>astriwidi</td>
                            <td>08.05 <br> 20-7-2021</td>
                            <td>Jl Cipaganti 37, Jawa Barat <br> Jawa Barat, Bandung, 40161</td>
                            <td>Sheera Dress <br> M <br>White</td>
                            <td>JNE</td>
                            <td>JP1203400</td>
                            <td>2</td>
                            <td>Rp. 500.000,-</td>
                            <td>Selesai</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>habibah123</td>
                            <td>09.45 <br> 20-7-2021</td>
                            <td>JL Wastukancana No.7, Bandung <br> Bandung, Bandung, 40117</td>
                            <td>Lyvia Dress <br> XL <br> Cream</td>
                            <td>JNE</td>
                            <td>JP1201000</td>
                            <td>1</td>
                            <td>Rp. 250.000,-</td>
                            <td>Selesai</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>humaira_rizqy</td>
                            <td>13.45 <br> 23-7-2021</td>
                            <td>Jl Jembatan Dua 139 I RT 004/02 Pejagalan<br> Dki Jakarta, 50076</td>
                            <td>Rowena Dress <br> M <br> Navy</td>
                            <td>JNE</td>
                            <td>JP1204561</td>
                            <td>1</td>
                            <td>Rp. 250.000,-</td>
                            <td>Selesai</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>sirius_pink</td>
                            <td>11.03 <br> 27-7-2021</td>
                            <td>Jl Jend Gatot Subroto 83 Hotel Papandayan <br> Jawa Barat, Bandung, 40262</td>
                            <td>Alya Dress <br> XL <br> Dusty Purple</td>
                            <td>JNE</td>
                            <td>JP1200001</td>
                            <td>1</td>
                            <td>Rp. 250.000,-</td>
                            <td>Dikemas</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Dibatalkan">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>                
                        <th>No</th>
                        <th>Akun</th>
                        <th>Tanggal</th>
                        <th>Alamat</th>
                        <th>Produk</th>
                        <th>Jasa Kirim</th>
                        <th>Jumlah</th>
                        <th>Total Harga</th>
                        <th>Alasan Pembatalan</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>sabila01</td>
                            <td>22.09 <br> 19-07-2021</td>
                            <td>Jl Jembatan Dua 139 I RT 004/02 Pejagalan <br> Dki Jakarta, 50097</td>
                            <td>Rowena Dress <br> M <br> Navy</td>
                            <td>JNE</td>
                            <td>2</td>
                            <td>Rp. 500.000,-</td>
                            <td>Salah tulis alamat</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>dwihanda</td>
                            <td>10.09 <br> 25-07.2021</td>
                            <td>Jl Margonda Raya 498 C RT 009/0 <br> Dki Jakarta, 50097</td>
                            <td>Huffle Dress <br> L <br> Black</td>
                            <td>JNE</td>
                            <td>1</td>
                            <td>Rp. 230.000,-</td>
                            <td>Salah pilih Size</td>
                        </tr>
                    </tbody>
                </table>
            </mat-tab>
            <mat-tab label="Pengembalian">
                <table class="uk-table uk-table-middle uk-table-divider">
                    <thead>                
                        <th>No</th>
                        <th>Akun</th>
                        <th>Alamat</th>
                        <th>Produk</th>
                        <th>Jasa Kirim</th>
                        <th>Jumlah</th>
                        <th>Total Harga</th>
                        <th>Alasan Pengembalian</th>
                        <th>Aksi</th>
                    </thead>
                </table>
                <p style="text-align: center; font-style: italic;">(( Belum Ada Pengembalian Produk ))</p>
            </mat-tab>
        </mat-tab-group>
          
    </mat-card-content>
</mat-card>
